{% extends "layout.html" %}

{%  load static %}

{% block body %}
<div class="wow">
    <div class="fancy">

<div class="epic">
    <h3 class="bet">Heart-felt emotions in a game</h3>
    <p>Fans get to feel the game and exhibit a turmoil of the emotions during Liverpool games.</p>
  <img src="{% static 'images/sad.jpg' %}" width="210" alt="">
</div>
        <div class="epic">
    <h3 class="bet">Animation by fans</h3>
    <p>Some fans go out of their way to make animated characters of the football club.</p>
    <img src="{% static 'images/animation.jpg' %}" width="180" alt="">
</div>

         <div class="epic">
    <h3 class="bet">Motivation by fans</h3>
    <p>Due to the undying love of fans they show maximum support to the team.</p>
      <img src="{% static 'images/fans2.jpg' %}" width="230" >
</div>

</div>
    <div class="fancy">

        <div class="epic">
    <h3 class="bet">Players and fans interaction</h3>
    <p>During interviews, players sign items such as gaming kits for their beloved fans.</p>
              <img src="{% static 'images/fans.jpg' %}" width="200" alt="">
</div>
           <div class="epic">
    <h3 class="bet">Merchandise designed by fans</h3>
    <p>Due to the undying love of fans the design merchandise such as shoes for the club.</p>
              <img src="{% static 'images/shoes.jpg' %}" width="250" height="150" alt="">
</div>

        <div class="epic">
    <h3 class="bet">Idolizing of the team players
    </h3>
    <p>Fans create fan clubs to praise their favourite players in the team</p>
      <img src="{% static 'images/players.jpg' %}" width="190" height="160">
</div>

</div>

    <div class="fancy">

<div class="epic">
    <h3 class="bet">Passed down generations</h3>
   <p>The love for the football club is passed doen from one generation to the next.</p>
      <img src="{% static 'images/father.jpg' %}" width="220" alt="">
</div>
        <div class="epic">
    <h3 class="bet">Cheering for the team
    </h3>
    <p>Fans cheer their lungs out for their adored team.</p>
  <img src="{% static 'images/stadium2.jpg' %}" width="230" alt="">
</div>


        <div class="epic">
    <h3 class="bet">Posters made by fans
    </h3>
    <p>Fans appreciate the team by creating amazing thumbnails and posters for the team.</p>
              <img src="{% static 'images/trophy.jpg' %}" width="230" alt="">
</div>
</div>

</div>






{% endblock %}