.hero{
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(rgb(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/stadium.jpg);
  background-size: cover;
  background-position: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.logo{
          color: #ff2300;
  font-size: 40px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
        a:hover{
    font-size: 25px;
             color: #8d8013;
    border-bottom: rgba(0, 0, 0, 0.82) 2px solid;
}
        span{
            color: #a83b3f;
        }
.details{
    margin-left: 2%;
    margin-top: 15%;
}
.details h2{
    font-size: 50px;
    color: #e5b14f;
    margin-bottom: 20px;
}
.two{
    color: #fd9913;
}
.details p{
    color: rgb(243, 243, 246);
    line-height: 22px;
    font-size: 25px;
}

.details a{
    background: #212121;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #d91222;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    position: absolute;
    width: 5%;
    height: 80%;
    bottom: 0;
    right: 100px;
}

.images img{
  height: 70%;
    width: 500%;
    position: absolute;
    bottom: 0;
    left: 00px;
    transform: translateX(-50%);
    transition: bottom 1s;

}
.home{
    background-image: url(../images/R.jpg);
    background-size: cover;
    display: flex;
    padding:0;
    margin: 0;
}
.epic:hover{
    transition: all 2s;
    transform: translateY(-40px);
    color: #f37c2f;
    background: linear-gradient(#6b92d2, rgba(0, 0, 0, 0.44));
}
.epic{
    width: 350px;
    height: 350px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    margin: 20px;
     color: #f6f6f6;
    background: linear-gradient(#b071e0, rgba(0, 0, 0, 0.29));
}
.fancy{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wow{
    background-image: url(../images/roar.jpg);
    background-size: cover;
    display: flex;
    padding:0;
    margin: 0;
}
.bet{
    font-size: 25px;
    font-family: "Snap ITC";
     color: rgba(0, 0, 0, 0.76);
}
.bet:hover{
 color: #ff6d7a;
}